<div class="row">

<%= simple_form_for @item, :html => { multipart: true , class: 'col-10 row'} do |f| %>
    <%= f.error_notification %>
    <%= f.input :user_id , as: :hidden, :input_html => { :value => current_user.id }%>
    <% if @item.new_record? %>
    <%= f.input :id , label: 'Sku', disabled: true, input_html: { class: 'form-control', value: Item.last.id+1 }, wrapper_html: { class: 'form-group col-2' }%>
    <% else %>
    <%= f.input :id , label: 'Sku', disabled: true, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <% end %>
    <%= f.input :sku , label: 'Sku производителя', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-3' }%>
    <%= f.input :barcode , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-3' }%>
    <%= f.input :fship , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <%= f.input :weight , label: 'Weight (kg)' , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <%= f.input :description, label: 'Help' , as: :text, input_html: { class: 'form-control', rows: 1}, wrapper_html: { class: 'form-group col-12' }%>
    <%= f.input :charact , as: :text, input_html: { class: 'form-control', rows: 3}, wrapper_html: { class: 'form-group col-12' }%>
    <%= f.input :title , label: 'Title RU', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-6' }%>
    <% if @item.new_record? %>
    <%= f.input :title_eng , label: 'Title Eng', input_html: { class: 'form-control' , value: 'New porduct' }, wrapper_html: { class: 'form-group col-6' }%>
    <% else %>
    <%= f.input :title_eng , label: 'Title Eng', input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-6' }%>
    <% end %>
    <%= f.input :desc_ru, label: 'Desc RU', as: :text , input_html: { class: 'form-control', rows: 10, cols: 10 }, wrapper_html: { class: 'form-group col-6' }%>
    <%= f.input :desc_eng, label: 'Desc Eng', as: :text , input_html: { class: 'form-control', rows: 10, cols: 10 }, wrapper_html: { class: 'form-group col-6' }%>

    <%= f.input :quantity , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <% if current_user.role == 'admin' %>
    <%= f.input :costprice ,label: 'CostPrice USD',  input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <% else %><% end %>
    <% if current_user.role == 'admin' %>
    <%= f.input :price,label: 'Price USD' , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-2' }%>
    <% else %><% end %>
    <%= f.input :item_type , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-3' }%>
    <%= f.input :vendor , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-3' }%>
    <% if current_user.role == 'manager' %><div class="col-4"></div><% end %>
    <%= f.input :cat1 , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-4' }%>
    <%= f.input :cat2 , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-4' }%>
    <%= f.input :cat3 , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-4' }%>


  <div class="col-3 btn-group my-3 p-2">
    <%= f.button :submit, 'Сохранить' , class: 'btn btn-success'%>
    <%= link_to 'Назад', items_path, class: 'btn btn-info' %>
  </div>

<% end %>

<div class="col-2">
    <%= form_for Itemimage.new, :url => itemimages_path, html: { multipart: true } do |f| %>
    <% if @item.new_record? %>
    <script type="text/javascript">
      $(document).ready(function() {
      var val = $( "input[name*='authenticity_token']" ).val( );
      $( "#itemimage_item_id" ).val(val);
      });
    </script>
    <input type="hidden" name="itemimage[item_new]" id="itemimage_item_id" value="">
    <% else %>
      <%= f.hidden_field :item_id, value: @item.id %>
    <% end %>
    <%= f.file_field :image, multiple: true , name: 'itemimage[image]', class: "inputfile"  %>
      <%= f.label :image do %>
        <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
        <span class="uploadtext">Upload</span>
      <% end %>
    <% end%>
  <% # jquery upload template # %>
  <script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

  <ul id="images" data-update-url="<%= sort_itemimages_url %>">
    <%@item.itemimages.each do |pic|%>
      <% if pic.persisted?%>
    <%= content_tag_for :li, pic do %>
    <span class="sort-image">
    <%= link_to image_tag(pic.image.url(:thumb) , "data-content"=>"#{image_tag(pic.image.url(:medium))}", "data-delay"=>"{'show':200,'hide':200}", "data-html"=>"true", "data-placement"=>"left", "data-toggle"=>"popover", "data-trigger"=>"hover" , :class => "sort-image-a-img"), pic.image.url, :target => '_blank', :class => "sort-image-a" %>
      <div class="actions">
        <%= link_to '<i class="fa fa-trash fa-2x" aria-hidden="true"></i>'.html_safe, itemimage_path(pic, :from=>"items"), :confirm => 'Точно удалить?', :method => :delete %>
      </div>
      </span>
    <%end%>
    <%end%>
    <%end%>
  </ul>
</div>
