<div class="row">
  <h1 class="col-2">Товары</h1>
  <div class="col-2"><%= link_to 'Добавить', new_item_path, :class => "btn btn-light" %></div>
</div>
<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead>
    <tr class="bg-light">
      <th>Sku</th>
      <th>Photo</th>
      <th>Title RU</th>
      <th>Desc RU</th>
      <th>Title ENG</th>
      <th>Desc ENG</th>
      <th>Quantity</th>
      <th>Costprice</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.sku , item %></td>
        <td><%pic = item.itemimages.first if item.itemimages.present? %>
          <%= link_to image_tag(pic.image.url(:thumb)), pic.image.url, :target => '_blank'%>
        </td>
        <td><%= item.title %></td>
        <td><%= item.desc_ru %></td>
        <td><%= item.title_eng %></td>
        <td><%= item.desc_eng %></td>
        <td><%= item.quantity %></td>
        <td><%= item.costprice %></td>
        <td><%= item.price %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_item_path(item) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
