<div class="row">
  <div class="col-2">
    <h1>Товары</h1>
    <p>Всего - <%= Item.count%></p>
  </div>
  <div class="col-2"><% if can? :create, Item %><%= link_to 'Добавить', new_item_path, :class => "btn btn-light" %><% end %></div>
  <div class="col-2">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Скачать
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if can? :create, Item %>
      <%= link_to 'Shopify ru', shopify_ru_items_path(params.merge(format: "csv")), title: "Shopify ru", class: 'dropdown-item'%>
      <%= link_to 'Shopify eng', shopify_eng_items_path(params.merge(format: "csv")), title: "Shopify Eng", class: 'dropdown-item'%>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-3">
  <%= search_form_for @search, html: {class: 'form-inline'}  do |f|%>
    <div class="form-group">
      <%= f.search_field :sku_or_title_or_title_eng_cont_all, placeholder: 'Sku, Название', class: "form-control input-sm"%>
      <%= f.submit 'Поиск', class: 'btn btn-light' %>
      <%= link_to 'Сбросить',items_path, class: 'btn btn-default' %>
    </div>
  <% end %>
  </div>
</div>
<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead>
    <tr class="bg-light">
      <th><%= sort_link(@search, :sku, 'Sku') %></th>
      <th>Photo</th>
      <th><%= sort_link(@search, :title, 'Title RU') %></th>
      <th>Desc RU</th>
      <th><%= sort_link(@search, :title_eng, 'Title ENG') %></th>
      <th>Desc ENG</th>
      <th><%= sort_link(@search, :quantity, 'Quantity') %></th>
      <% if current_user.role == 'admin' %>
      <th>Costprice USD</th>
      <th>Price USD</th>
      <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.sku , item %></td>
        <td><%pic = item.itemimages.first %>
          <% if pic.present?%>
          <%= link_to image_tag(pic.image.url(:thumb)), pic.image.url, :target => '_blank' %>
          <% end %>
        </td>
        <td><%= truncate(item.title, length: 80 ) %></td>
        <td><%= truncate(item.desc_ru, length: 45 )  %></td>
        <td><%= truncate(item.title_eng, length: 80 ) %></td>
        <td><%= truncate(item.desc_eng,  length: 45 ) %></td>
        <td><%= item.quantity %></td>
        <% if current_user.role == 'admin' %>
        <td><%= item.costprice %></td>
        <td><%= item.price %></td>
        <% end %>
        <td><% if can? :update, item %><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_item_path(item) %><% end %></td>
        <td><% if can? :destroy, item %><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="apple_pagination">
	<%= will_paginate @items %>
</div>
