<div class="row">
<div class="col-10 row">

      <div class="form-group col-3">
        <label class="" >Sku</label>
        <%= @item.sku %>
      </div>
      <div class="form-group col-3">
        <label class="">Barcode</label>
        <%= @item.barcode %>
      </div>
      <div class="form-group col-3">
        <label class="">Fship</label>
        <%= @item.fship %>
      </div>
      <div class="form-group col-3">
        <label class="">Weight</label>
          <%= @item.weight %>
      </div>
      <div class="form-group col-12">
        <label class="text">Help</label>
          <%= @item.description %>
      </div>
      <div class="form-group col-12">
        <label class="text">Help</label>
          <%= @item.charact %>
      </div>
      <div class="form-group col-6">
        <label class=""> Title RU</label>
            <%= @item.title %>
      </div>
      <div class="form-group col-6">
        <label class="">Title Eng</label>
        <%= @item.title_eng %>
      </div>
      <div class="form-group col-6">
        <label class="text ">Desc RU</label>
        <%= @item.desc_ru %>
      </div>
      <div class="form-group col-6">
        <label class="text">Desc Eng</label>
        <%= @item.desc_eng %>
      </div>
      <div class="form-group col-2">
        <label >Quantity</label>
          <%= @item.quantity %>
      </div>
      <div class=" form-group col-2">
        <label >Costprice</label>
        <%= @item.costprice %>
      </div>
      <div class="form-group col-2">
        <label class=" ">Price</label>
        <%= @item.price %>
      </div>
      <div class="form-group col-3">
        <label class=" " for="item_type">Type</label>
        <%= @item.item_type %>
      </div>
      <div class="form-group col-3">
        <label class=" " >Vendor</label>
        <%= @item.vendor %>
      </div>
      <div class="form-group col-4">
        <label class=" " >Cat1</label>
        <%= @item.cat1 %>
      </div>
      <div class="form-group col-4">
        <label class=" " >Cat2</label>
        <%= @item.cat2 %>
      </div>
      <div class="form-group col-4">
        <label class=" " >Cat3</label>
        <%= @item.cat3 %>
      </div>


<div class="col-3 btn-group my-3">
  <%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-success' %>
  <%= link_to 'Назад', items_path, class: 'btn btn-info' %>
</div>
</div>
<div class="col-2">
    <%= form_for Itemimage.new, :url => itemimages_path, html: { multipart: true } do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.file_field :image, multiple: true , name: 'itemimage[image]', class: "inputfile"  %>
      <%= f.label :image do %>
        <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
        <span class="uploadtext">Upload</span>
      <% end %>
    <% end%>
  <% # jquery upload template # %>
  <script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

  <ul id="images" data-update-url="<%= sort_itemimages_url %>">
    <%@item.itemimages.each do |pic|%>
      <% if pic.persisted?%>
    <%= content_tag_for :li, pic do %>
    <span class="sort-image">
    <%= link_to image_tag(pic.image.url(:thumb)), pic.image.url, target: '_blank' %>
      <div class="actions">
        <%= link_to '<i class="fa fa-trash fa-2x" aria-hidden="true"></i>'.html_safe, itemimage_path(pic, :from=>"items"), :confirm => 'Точно удалить?', :method => :delete %>
      </div>
      </span>
    <%end%>
    <%end%>
    <%end%>
  </ul>
</div>
</div>
